<header>
    <div class="container" style="margin-top: 7em; ">
      <div class="col-sm-6" style="border: 1px solid gray;">
      <h2 class=" text-center">Reg. Form</h2>
      <form role="form" onsubmit="signUp(event)">
          <div class="form-group">
              <label for="name">First-Name:</label>
              <input type="text" class="form-control" id="fname" placeholder="Enter Fname" name="Fname">
            </div>
             <div class="form-group">
              <label for="name">Last-Name:</label>
              <input type="text" class="form-control" id="lname" placeholder="Enter Lname" name="Lname">
            </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
        </div>
        <!-- <center> -->
        <button type="submit" class="btn btn-success text-center">Submit</button> <br/>
          <a href="" routerLink="/user-home" class="text-primary text-center"  >Already have an account</a>
        <!-- </center> -->
      </form>
    </div>
    </div>
 </header>