header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),url('/assets/images/44.jpg');
    background-size: cover;
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    height: 90vh;
  }

  .logo{
    /* border-radius:50px; */
    height: 90px;
    margin-left: 4em;    
}

 @media   (max-width: 677px) {
      .logo {
             height: 50px;
      }
          }
     @media  (max-width: 1024px) {
      .logo {
             height: 50px;
      }
    }