.logo{
    /* border-radius:50px; */
    height: 90px;
    margin-left: 4em;    
}

 @media only screen and  (max-width: 677px) {
      .logo {
             height: 50px;
      }
          }
     @media only screen  and (max-width: 1024px) {
      .logo {
             height: 50px;
      }
    }
    #navbarNav{
        font-family: Verdana;
         font-size: 15px;
    }