.logo{
    height: 100px;
    margin-left: 4em;
    
}
@media  (max-width: 677px) {
      .logo {
             height: 50px;
      }
      body{
        font-size: small;
      }

    }
     @media  (max-width: 1024px) {
      .logo {
             height: 50px;
      }
       body{
        font-size: small;
      }
    }

    #navbar{
        font-family: Verdana;
         font-size: 20px;
    }


 #help{
    font-weight: bolder;
    color: grey;
     font-size: 1.2em;
 }




#footer{
        background-color: #001d47;
        height: 550px;
        width: 100%;
        color: white;
        text-decoration: none;
        margin-top: -2em;
    }


     #footer .icon ul{ 
        text-align: right;
        margin: 0;
        padding: 0;
    }

     #footer .icon li i{
          color: white; 
          font-size: 1em; 
          border: 3px solid red;
           border-style: none;
           border-radius: 60px;
            background-color: #001d47; 
     }

    

    #footer .icon li {
        display: inline-block;
        font-size: 20px;
        padding: 5px;
        margin-top: 30px;
    }

    #foot{
        border-style: none;
         list-style-type: none;
        text-decoration: none;
    }

    #foot a{
        color: grey;
    }

    #foot li {
        list-style-type: none;
        text-decoration: none;
        margin: 1em;
    }

    @media  (max-width: 677px)   {
       #contact{
            width: 100%;
            padding: 1em;
            text-align: center;
    }
    


     @media  (max-width: 1024px) {
     #footer{
         height: 110%;
    }
    #contact{
      width: 100%;

    }
     #foot{
        font-size: 15px;
     }
     #imgg{
      width: 100%;
     }
     
    }
}
 
    #last{
        text-align:  center;
        color: grey;
        font-size: 12px;
    }


     .head{
      position: relative;
      display: inline-block;
    }

    .head::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: hwb(208 1% 90% / 0.600); 
    }

    .text{
      text-align: center;
      margin-top: 4em;
      font-size: 3em;
      font-weight: bolder;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    } 

     #img{
      display: block;
      background-size: cover;
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    width: 100%;
    } 

    #cccc{

        font-size: 2em;
        font-weight: bolder;
        text-align: center;
    }
