<nav class="navbar navbar-expand-lg navbar-light bg-light p-2 " style="color: #001d47" >
    <img src="assets/images/logo.png" routerLink="home" class="logo" alt="BankingApp">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav  ">
        <li class="nav-item">
            <a class="nav-link h2 text-dark"  href="#"><b>Jahnus Bank</b></a>
          </li>
    </ul>
    <ul class="navbar-nav  mx-auto" id="navbar">
        <li class="nav-item">
            <a class="nav-link  text-dark"  href="#" routerLink="home">Home</a>
        </li>
     
     <li class="nav-item">
        <a class="nav-link text-dark"  href="#" routerLink="/user-home">Account</a>
    </li>
  
        <!-- <li class="nav-item dropdown">
            <a class="nav-link  text-dark"     >Account</a>
        </li> -->
  
      <li class="nav-item">
        <a class="nav-link text-dark"  href="#" routerLink="/contact">Contact</a>
    </li>
     <li class="nav-item">
        <a class="nav-link text-dark"  href="#" routerLink="/findabranch">Find a branch</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"  href="#" routerLink="/partner">Sponsorship</a>
    </li>
    <li class="nav-item">
            <a class="nav-link  text-dark"  href="#" routerLink="/question">Question</a>
        </li>
    </ul>
  </div>
  </nav>
  
<header>
    <div class="text-center" id="first">
      <h1 class="text-light mt-5">First Trust & <br/> Wealth Management</h1>
        <p class="m-5 text-light" >
          When you choose to work with one of our financial advisors, you can expect local service,
        <br/>
          expert care and customized solutions from a team of experienced and dedicated, professionals.
        </p>	

        <button class="btn btn-success"><a href="" class="nav-link h5" style="color: white">Enjoy Our Services</a></button>
    </div>
</header>

<div class="container-fluid " id="service">
  <ul>
      <li><a href="#"><i class=" fa fa-folder-open p-4 "></i><br/> Open Account</a></li>
      <li><a href="#"><i class=" fa fa-users p-4"></i> <br/> Agent Banking</a></li>
      <li><a href="#"><i class=" fa fa-phone p-4"></i> <br/> Contact Us</a></li>
      <li><a href="#"><i class="fa fa-building-o p-4"></i> <br/> Find a Branch</a></li>
      <li><a href="#"><i class="fa fa-file p-4"></i> <br/>  Annual Report</a></li>
      <li><a href="#"><i class=" fa fa-calculator p-4"></i> <br/> Loans Calculator</a></li>
  </ul>
</div>

<div  style="width: 100%" >
  <div class="container mt-5">
      <h1 class="text-center fw-bolder mb-4" style="color: #001d47">Over 125 years of Leading Banking Services</h1>
      <blockquote class="text-center fs-5" style="color: grey">Jahnus Bank of Nigeria Limited is the premier Bank in West Africa<br/> with its impact woven into the fabric of society. The Bank which has been<br/> sustaining its development-oriented services for over 125 years as the <br/> region’s foremost financial inclusion services provider, offers a <br/> comprehensive range of retail and corporate financial services through more <br/> than 57,000 business outlets to over 17 million customer accounts.</blockquote>
  </div>

  <div class=" container-fluid row" id="roww" style="margin-top: 7em; position: relative;">
          <div class="col-md-4  offset-2">
              <div class="card mb-4 " style="width: 100%;">
                <!-- <img src="assets/images/logo.png" class="card-img-top" alt="..." /> -->
                <img src="assets/images/ola.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title fs-3 fw-bold" style="color: #001d47">Our History</h5>
                  <p class="card-text fs-6"  style="color: grey">Established in 2059, Jahnus was by Sir Alfred Jones, a shipping magnate from liverpool, England. With its head office originally in livepool, the Bank commenced business on a modest scale in Lagos, Nigeria under the name, Bank of British West Africa(BBWA)</p>
                </div>
              </div>
          </div>
          <div class="col-md-4 offset-1">
              <div class="card mb-4" style="width: 100%; ">
                <img src="assets/images/his.PNG" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title fw-bolder fs-3 " style="color: #001d47">Our Leadership</h5>
                  <p class="card-text fs-6"style="color: grey" >Our forward-looking leadership team is made up of dedicated, focused and experiences executives. Working with each other and bringing their wealth of knowledge and experinecs together with other employees to make difference for all our stakeholders. </p>
                </div>
              </div>
          </div>
  </div>		

          <div class="container-fluid  text-center p-4">
              <h1 id="Networked">Networked across Africa, <br/> Europe and Asia</h1>
              <p style="color: grey">As a national icon and an international player, JahnusBank is one of the most <br/> enduring financial services brands in Africa with international footprints <br/> extending through its subsidiaries, JBN Bank (UK) Limited in London and Paris, <br/> JBN in the Democratic Republic of Congo, Ghana, The Gambia, Guinea, <br/> Sierra-Leone and Senegal, as well as a Representative Office in Beijing.</p>
          </div>

      <div class="container-fluid"  id="ccc" style="position: relative; width: 100%">
          <div class=" bg-light  " id="purpose">
              <p class="promise">Our Promise <br/>Our Goal</p>
              <p>Our brand purpose is to always put customers, <br/> partners and stakeholders at the heart of our <br/>business, even as we standardise customer<br/> experience and excellence in financial solutions<br/> across sub-Saharan Africa, in consonance with <br/> our brand vision “To be the partner of choice in<br/> building your future”.</p>
          </div>
          <div class="text-light p-4" id="prom">
              <p>
                  Our brand promise is to always deliver the <br/> ultimate “gold standard” of value and excellence.<br/> This commitment is anchored on our<br/> inherent values of passion, partnership and people, <br/> to position YouFirst in every respect.
              </p>
          </div>
      </div>	

      <div class="m-5 p-5" style="position: relative; width: 100%;">
          <div class=" bg-light"  id="vision">
              <p class="promise ml-5  mt-5">Our Vision</p>
              <p class="ml-5" style="color: grey">To be Africa’s Bank of first choice</p> <br/><br/>
              <p class=" ml-5 promise"> Our Mission </p>
              <p class="ml-5" style="color: grey">To remain true to our name by providing the best <br/> financial services possible.</p>
          </div>
          <div class="text-light p-5" id="image">
              <img src="assets/images/mission.jpg" width="250px" height="250px">
          </div>
      </div>	
</div>
  
  
      <div class="container-fluid" id="footer">
          <ul class="icon text-right" id="social">
              <li><a href="#"><i class="fa fa-facebook-square "></i></a></li>
              <li><a href="#"><i class=" fa fa-twitter "></i></a></li>
              <li><a href="#"><i class=" fa fa-instagram "></i></a></li>
              <li><a href="#"><i class="fa fa-youtube "></i></a></li>
              <li><a href="#"><i class="fa fa-linkedIn "></i></a></li>
          </ul>
          <hr/>
          <div class="row"  id="foot">
              <div class="col-md-3">
                  <ul>
                      <li>Banking</li>
                      <li><a >Corporate Information</a></li>
                      <li><a >Personal Banking</a></li>
                      <li><a >Business Banking</a></li>
                      <li><a >Private Banking</a></li>
                      <li><a >Loan Calculator</a></li>
                      <li><a >Vendor Portal</a></li>
                      <li><a >Download Forms</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <ul>
                      <li>Security</li>
                      <li><a >BVN</a></li>
                      <li><a > Anti-Fraud</a></li>
                      <li><a > Security Tips</a></li>
                      <li><a > Secure Code</a></li>
                  </ul>	
              </div>
              <div class="col-md-3">
                  <ul>
                      <li>Contact Us</li>
                      <li><a >Feedback and Complaints</a></li>
                      <li><a >Whistleblowing</a></li>
                      <li><a >Find a Branch</a></li>
                      <li><a >Contact Forms</a></li>
                      <li><a >Find a Agent</a></li>
                      <li><a >Agent Network</a></li>
                  </ul>	
              </div>
              <div class="col-md-3">
                  <ul>
                      <li>Legal</li>
                      <li><a >Sitemap</a></li>
                      <li><a >Terms of Use</a></li>
                      <li><a >Privacy Policy</a></li>
                      <li><a >Cookies Policy</a></li>
                  </ul>	
              </div>
          </div>
          <hr/>
          <p id="last">@2022.JahnusBank of Nigeria Ltd. An JBNHoldings Company</p>
      </div>
